<%- include("partials/template");-%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/bb0ae03f5c.js" crossorigin="anonymous"></script>
<h1 class="advancedcurrent"><%=aquiredLocation%><br>
	<%=state%>,<%=country%><br>
Weather forecast of the week
</h1>
<div>
	
	<div class="box">
		<%for(var i=0;i<7;i++){%>
		<% var t = new Date((parsedData.daily[i].dt)*1000)%>
		<% var date = t.getDate()+1%>
		<% var month = t.getMonth()+1%>

		<div class="middleContent">
			<div class="anchor">
				
				<div class="tommorow"> 
					<h2 class="info"> <%=week[(day+i+1)%7]%>
						<span class="Date">
								<%=date%>/<%=month%>
						</span>
					</h2>
					<%var icon=parsedData.daily[i].weather[0].icon%>
					
					<%const url = "http://openweathermap.org/img/wn/" + icon + "@2x.png"%>
					<img src="<%=url%>" width="60px" height="60px" onerror=null>
					<div class="temp1">
						<span class="high">
							<%=parsedData.daily[i].temp.max%>째
						</span>
						<span class="low">
						/<%=parsedData.daily[i].temp.min%>째
						</span>
					</div>
				</div>
				<div class="phrase">
						<%=parsedData.daily[i].weather[0].description%>
				</div>
				<div class="precipitation">
						<i class='fas fa-cloud-rain'></i>
						<%=parseInt(parsedData.daily[i].pop*100)%>%

				</div>
			</div>
					<div class="clickme">
						<button type="button" class="collapsible fas fa-angle-double-down rotate">
							
						</button>
						
						<div class="content">
							<div class="phrase1"><%=parsedData.daily[i].weather[0].description%></div>
							<div class="outsidecontent">
						  <div class="left">
						  	<p>Day <span class="value"><%=parsedData.daily[i].temp.day%>째</span></p>
						  	<p>Pressure <span class="value"><%=parsedData.daily[i].pressure%>hPa</span></p>
							<p>Humidity <span class="value"><%=parsedData.daily[i].humidity%>%</span></p>
							<p>Wind <span class="value"><%=parsedData.daily[i].wind_speed%>m/s</span></p>
						  </div>
						  <div class="right">
						  	
						  	<p>Night <span class="value"><%=parsedData.daily[i].temp.night%>째</span></p>
						  	<p>Clouds <span class="value"><%=parseInt(parsedData.daily[i].clouds)%>%</span></p>
						  	<p>UV index <span class="value"><%=parsedData.daily[i].uvi%></span></p>
						  </div>
						
						</div>


					</div>
	
			</div>
		</div>	
		<%}%>
		
	</div>









</div>
</div>


<%- include("partials/footer");-%>
</body>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = 400 + "px";
    }
  });

  $(".rotate").click(function () {
    $(this).toggleClass("down");
})
}
</script>
